# Lingkungan Virtual
venv/
/venv/

# File cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Folder IDE
.vscode/
.idea/

# File environment (jika ada)
.env

# Abaikan dependensi frontend
frontend/node_modules